body {
	background-color: white
}
/* ------ Main Page style ------ */

.mainPage {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 1200px;
	margin-left: 45px;
}
.content {
	display: flex;
	background-color: #40FFDD;
	flex-direction: row;
	height: 500px;
	
}
.title {
	background-color: #FF6C00;
	height: 100px;
	font-size: 40px;
	opacity: 0.9;
	text-align: center;
	padding: 10px
}
.content > div {
	margin: 10px;
	padding: 10px;
}
.description {
	background-color: #14CC77;
	font-size: 20px;
	height: 450px;
	width: 80%;
	opacity: 0.8
}
#indexDescription {
	text-align: center
}
#menu {
	font-size: 20px;
	height: 150px;
}	
/* ----- Table style ----- */
table {
	border-collapse: collapse;
	empty-cells: show;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;	
	width: 100%;
}
td {
    border: 1px solid #ddd;
	padding: 5px;
	text-align: center
}
th{
	padding-top: 8px;
	padding-bottom: 8px;
	padding: 8px;
	text-align: center;
	background-color: yellowgreen;
	color: white;
	border: 1px solid #ddd
}

/* ------ User Page Style ------ */
#users {
	width: 100%;
}
#userDescription {
	display: flex;
	flex-direction: column;
}
#personalData {
	display: flex;
	flex-direction: row;
	margin: 5px;
	padding: 5px;
	justify-content: center
}
#fullName, #authorName {
	margin-left: 40px;
	width: 100%
}

/* ------ Transaction Page Style ------ */
#transactionsList {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	text-align: center;
}
ul {
	list-style-type: none;
	align-self: center;
    margin: 0;
	padding: 0;
	width: 200px;
    background-color: #997B3D
}
li a {
	display: block;
	padding: 8px 16px;
	color: #000;
	text-decoration: none;
}
li a:hover {
	background-color: rgb(160, 133, 133);
    color: white;
}
li a.active {
    background-color: #1476CC;
    color: white;
}








